body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
}

td , th , tr {
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 95vw;
  height: 12vh;
}
